/* ----- Footer ----- */
.footer {
  background-color: #fbc39a; 
  color: #a55b1b;
  padding: 50px 20px 20px 20px;
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  gap: 40px;
}

.footer-info h3 {
  color: #663300;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-info p {
  max-width: 250px;
  line-height: 1.5;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-social p {
  margin-bottom: 10px;
  font-weight: 600;
}

.social-icons a img {
  width: 28px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.2);
}

/* Línea inferior */
.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-top: 15px;
  font-size: 0.9rem;
  color: #663300;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-info p {
    max-width: 100%;
  }
}
